
a p{
    background-color: rgb(2, 2, 2);
    width: 20%;
    padding: 15px 0;
    text-align: center;
    color: rgb(241, 239, 239);
    font-weight: bold;
    font-size: bold;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 15px auto;
}

a p:hover{
    background-color: rgb(25, 43, 212);
    transform: scale(1.2);
    transform: rotate(45deg);
}

h1 {
    color: white;
}


body {
  background-image: url("file:///C:/Users/.21/Downloads/b5644fa54de34837af7ef9cde66d5a6e_upscaled.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0%;
  text-align: center;
}
